@model ShopBy_Aisle.Models.MasterItem

@{
    ViewData["Title"] = "AddMasterItem";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
        $(document).ready(function () {
           $("#storeID").change(function () {
                selectedValues = { storeID: $("#storeID").val(), catID: $("#catID").val() };
                $.ajax({
                 url: '/MasterItems/GetAisleData',
                type: 'POST',
                dataType: 'json',
                data:{JsonStr: JSON.stringify(selectedValues)},
                success: function (data) {
                        if (data.success) {
                            document.getElementById("aisleID").value = data.aisleID;
                            document.getElementById("aisleName").value = data.aisleName;
                        }
                    }
                })
            });
        });



</script>


@*<h4>Add MasterItem</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="ItemName" class="control-label"></label>*@
                <input asp-for="ItemName" class="form-control" placeholder="Enter Item Name" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="CategoryID" class="control-label"></label>*@
                <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID" id="catID">
                </select>
            </div>


            <div class="form-group">
                <label asp-for="StoreID" class="control-label"></label>
                <select asp-for="StoreID" class="form-control" asp-items="ViewBag.StoreID" id="storeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Aisle.Name" class="control-label">Aisle</label>
                <input asp-for="Aisle.Name" id="aisleName" class="form-control" />

            </div>
            <input asp-for="AisleID" id="aisleID" class="form-control" hidden />

            <div class="form-group">
                <label asp-for="AddToShoppingList" class="control-label"></label>
                <input type="checkbox" asp-for="AddToShoppingList" />
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input type="text" asp-for="Quantity" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

