@model ShopBy_Aisle.Models.MasterItem

@{
    ViewData["Title"] = "AddMasterItem";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#storeID").change(function () {
            selectedValues = { storeID: $("#storeID").val(), catID: $("#catID").val() };
            $.ajax({
                url: '/MasterItems/GetAisleData',
                type: 'POST',
                dataType: 'json',
                data: { JsonStr: JSON.stringify(selectedValues) },
                success: function (data) {
                    if (data.success) {
                        document.getElementById("aisleID").value = data.aisleID;
                        document.getElementById("aisleName").value = data.aisleName;
                    }
                }
            })
        });
    });



</script>


@*<h4>Add MasterItem</h4>*@
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input asp-for="ItemName" class="form-control" placeholder="Enter Item Name" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-xs-3">
                <div class="form-group" >
                    <label asp-for="Quantity" class="form-control">Qty</label>
                </div>
            </div>
        <br />
            <div class="col-xs-3">
                <div class="form-group">
                    <input type="text" asp-for="Quantity" class="form-control" size="1" placeholder=""/>
                    <span asp-validation-for="Quantity"></span>
                </div>
            </div>
        </div>
     <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID" id="catID">
                    <option value="0">Select Category</option>
                </select>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <select asp-for="StoreID" class="form-control" asp-items="ViewBag.StoreID" id="storeID">
                    <option value="0">Select Store</option>
                </select>
                <span asp-validation-for="StoreID" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-xs-3">
                    <input asp-for="Aisle.Name" id="aisleName" class="form-control" placeholder="Aisle" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" @ViewBag.sl_hidden>
                <label asp-for="AddToShoppingList" class="control-label"></label>&emsp;&emsp;&emsp;
                @if (@ViewBag.pg == "sl")
                {
                    <input type="checkbox" class="control-label" asp-for="AddToShoppingList" checked />
                }
                else
                {
                    <input type="checkbox" class="control-label" asp-for="AddToShoppingList" />
                }
            </div>
        </div>
        
        <div class="form-group" @ViewBag.ml_hidden>
            <label asp-for="MasterList" class="control-label">Add to Master List</label>
            @if (@ViewBag.pg == "ml")
            {
                <input type="checkbox" asp-for="MasterList" class="control-label" checked  />
            }
            else
            {
                <input type="checkbox" asp-for="MasterList" class="control-label" />
            }
        </div>
    </div>

    <input asp-for="AisleID" id="aisleID" class="form-control" hidden />
    <br />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-sm btn-primary" />&emsp;&emsp;&emsp;&emsp;
        <button asp-action="Index" class="btn btn-sm btn-primary">Go Back</button>
    </div>
</form>




