@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Congratulations,You're Registered !!
        </p>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}
