@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<br />
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <h4 style="font-family:'Times New Roman'">
        Thank you for Registering !
    </h4>
    <br />
        <a class="btn btn-primary"   asp-area="Identity" asp-page="/Account/Login">Login</a>
        @* <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>*@
    
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}
