


<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShopByAisle</title>
    <style>
        .features
        {
            color: red;
            font-family:'Book Antiqua';
            font-size:small;
        }

        b{
            color:navy
        }
    </style>
</head>
<br />
<h3 style="text-align:center; font-weight:bold;color:darkblue">ABOUT US</h3>
<body>
    <p>
        Have you ever been in a situation wherein you want to get in and out of the store very fast, but end up spending more time searching for items in Aisles.
        <br />If yes, then <b>ShopByAisle</b> is the solution you need.<img src="~/Images/fingerdown.png" width="30" height="30" /><br /><br />
        <b>ShopByAisle</b> is a mobile web application designed to  make your shopping experience in store hassle free and fast. It's key features enables you to create
        and manage shopping list with a provision to add and update aisle information for future benefit of self and others.
    </p>
    <p style="font-weight:bold ; text-align:center; text-decoration-line:underline ; color:green">KEY FEATURES</p>
    <div class="row">
        <div class="col-lg-4">
            <p>
                <b class="features">SHOPPING LIST STORED LOCALLY ON YOUR DEVICE THAT CAN BE -</b><br />
                <ul>
                    <li>Filtered store-wise </li>
                    <li>Sorted by Aisle/Category for planned and systematic shopping</li>
                    <li>Searched for Items in the list</li>
                </ul>
            </p>
            <br />
            <p>
                <b class="features">REPOSITORY OF AISLE INFORMATION THAT CAN BE-</b>
                <ul>
                    <li>Retrieved by shoppers</li>
                    <li>Added by shoppers</li>
                    <li>Updated by shoppers</li>
                    <li>And most importantly, shared across shoppers</li>
                </ul>
            </p>
        </div>

        <div class="col-lg-4">
            <img src="~/Images/IMAGE1.jpg" class="img-fluid rounded mx-auto d-block" style="height:400px"/>
           
        </div>
        <div class="col-lg-4">
            <p>
                <b class="features">FAVORITE ITEMS LIST STORED LOCALLY ON YOUR DEVICE</b><br />
                With frequently shopped items, adding items to Shopping List made easy and fast with a click of a button.
            </p>
            <p>
                <b class="features">GOOGLE MAP TECHNOLOGY</b><br />
                We use google map technology to locate nearby stores to shop and add them to your list of favorite Stores.

            </p>

            <p>
                <b class="features">USER FRIENDLY AND SIMPLE DESIGN</b><br />
                <b>ShopByAisle</b> is very user friendly. It doesn't require any special technical savvy to use. Anyone can easily create a shopping list and begin shopping immediately.

            </p>
        </div>
    </div>
</body>
