@{
    ViewData["Title"] = "My Home Page";
}


<style>
    .Home_Images {
        width: 50px;
        height: 50px
    }
</style>

<body>
    <div class="text-center">
        <p class="display-4" style="color: lemonchiffon ;font-weight: bold; font-family:  Cambria, Cochin, Georgia, Times, Times New Roman, serif">ShopByAisle</p>
        <br />
    </div>
</body>