@{
    ViewData["Title"] = "My Home Page";
}


<style>
    .Home_Images {
        width: 50px;
        height: 50px
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <a asp-controller="MasterItems" asp-action="Index"><img class="Home_Images" src="~/Images/MasterList.png" /></a>
</div>