@model IEnumerable<ShopBy_Aisle.Models.MasterItem>

<!DOCTYPE html>

<html>
<head>
    <style>
        .button
        {
            width: 30px;
            height:30px;
        }
    </style>
</head>
<body>
<h3>My Shopping List</h3>
    <hr />
    <br />
    <button>SortBy</button>
    <select asp-items="@ViewBag.stores">
        <option value="0">Store</option>
    </select>
    <br /><br />
    <table class="table">
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <input type="checkbox" /> &emsp;&emsp;
                @Html.DisplayFor(modelItem => item.ItemName)<br />
                &emsp;&emsp;&emsp; Store: @Html.DisplayFor(modelItem => item.PreferredStore.Alias)
            </td>
            <td>
                <label>Qty</label>
                <input type="text" maxlength="1" size="1" /><br />
                Aisle: @Html.DisplayFor(modelItem => item.Aisle.Name)
            </td>
            <td>
                <img class="button" src="~/Images/Pencil-icon.png" /><br />
                <img class="button" src="~/Images/EDelete-icon.png" id="del_button"/>
            </td>
        </tr>
        }
    </table>
   
</body>
</html>
