@model ShopBy_Aisle.Models.Store

@{
    ViewData["Title"] = "Create";
}

<h4>Add Store</h4>

<script>
       function validateForm()
    {
        var valName = document.forms["myform"]["Name"].value;
        var valAlias = document.forms["myform"]["Alias"].value;
           if (valName == "") {
               document.getElementById("msgName").innerHTML = "Store Name cannot be blank.";
               return false;
           } else {
               document.getElementById("msgName").innerHTML = "";
           }

           if (valAlias == "") {
               document.getElementById("msgAlias").innerHTML = "Store Alias cannot be blank.";
               return false;
           } else {
               document.getElementById("msgAlias").innerHTML = "";
           }
    }

</script> 

<hr />
<div class="row">
    <div class="col-md-4">
        <form name="myform" asp-action="Create" onsubmit="return validateForm()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span id="msgName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alias" class="control-label"></label>
                <input asp-for="Alias" class="form-control" />
                <span id="msgAlias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

